.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black,0.8);
    z-index: 3000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    text-align: center;

    &__content {
        display: table;
        background-image: linear-gradient(to bottom, rgba($color-black,.5),rgba($color-black,.2)), url(../img/nat-9.jpg);
        background-size: cover;
        background-position: 0% 80%;
        border-radius: 3px;
        box-shadow: 0 2rem 4rem rgba($color-black,.2);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 75%;
        transform: translate(-50%,-50%) scale(0);
        opacity: 0;
        transition: all .4s .2s;
        padding: 4rem;

        @include respond(tab-port) {
            background-position: center bottom;
            width: auto;
            width: 90%;
        }
    }

    &:target &__content {
        transform: translate(-50%,-50%) scale(1);
        opacity: 1;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        color: $color-white;
        text-align: left;

        -moz-column-count: 2;
        column-count: 2;
        -moz-column-gap: 4rem;
             column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey-light-2;
             column-rule: 1px solid $color-grey-light-2;

        -webkit-hyphens: auto;-ms-hyphens: auto;hyphens: auto;

        @include respond(tab-land) {
            font-size: 1.5rem;
            -moz-column-count: 1;
            column-count: 1;
            -moz-column-gap: 0;
                 column-gap: 0;
            -moz-column-rule: 0;
                 column-rule: 0;
        }

        @include respond(phone) {
            font-size: 1.3rem;
            -moz-column-count: 1;
            column-count: 1;
            -moz-column-gap: 0;
                 column-gap: 0;
            -moz-column-rule: 0;
                 column-rule: 0;
        }
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &__close {
        &:link,
        &:visited {
            color: $color-white;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            line-height: 1;
        }

        &:hover{
            color: $color-primary;
        }
    }
}